{extend name="Father:index"/}
{block name="tpl-content-wrapper"}
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <!--<div class="am-u-sm-12 am-u-md-12 am-u-lg-6">-->
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <form action="">
                                </form>
                                <div class="widget-function am-fr" style="margin-right: 3%;">
                                    <a href="{:url('Tables/pid',['type'=>1])}" class="">文章标签</a>
                                    <a href="{:url('Tables/save',['type'=>1])}" class="">添加</a>
                                    <a href="javascript:;" class="click_back">刷新</a>
                                </div>
                            </div>
                            <div class="widget-body  widget-body-lg am-fr">
                                <table width="100%" class="am-table am-table-compact tpl-table-black " id="">
                                    <thead>
                                        <tr>
                                            <th>文章标题</th>
                                            <th>作者</th>
                                            <th>时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="$list" id="vo"}
                                        <tr class="gradeX">
                                            <td>{$vo.name}</td>
                                            <td>{$vo.phone}</td>
                                            <td><?php echo date('Y-m-d',$vo['add_time'])?></td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="{:url('Tables/edit',['id'=>$vo.id])}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;"  class="tpl-table-black-operation-del" onclick="del_article({$vo['id']})">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {/volist}
                                        <!-- more data -->
                                    </tbody>
                                </table>

                                <div id="page">
                                    <div class="page_left">
                                        <label><input name="all" id="selectall"  type="checkbox" value="">全选</label>
                                    </div>
                                    <div class="page_right">
                                        <span>共 {$list->total()} 条数据　页次：{$list->currentPage()}/{$list->lastPage()}</span>
                                        {$page}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
    function t_type(id){
        $('[name=type]').val(id);
        document.getElementById('tijiao').click();
    }
    function del_article(id){
        layer.confirm('确认要删除吗？', function () {
            $.post("{:url('del_article')}",{id:id},function(data){
                if(data.code){
                    layer.msg('删除成功',{time:800},function(){
                        location=location;
                    })
                }else{
                    layer.msg('网络错误',{time:800})
                }
            });
        })
    }
</script>
{/block}