{extend name="Father:index"/}
{block name="tpl-content-wrapper"}
        <!-- 内容区域 -->
<style>
    .vip{
        border: 1px solid #0e90d2;
        padding: 5px 6px;
        margin-top: 4px;
        font-size: 12px;
        line-height: 12px;
        color: #0e90d2;
    }
    .o_vip{
        border: 1px solid #999;
        color: #999;
    }
</style>
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <!--<div class="am-u-sm-12 am-u-md-12 am-u-lg-6">-->
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <form action="">

                                    <div class="widget-title am-fl tpl-table-black-operation">
                                        <select name="type">
                                            <option value="">全部</option>
                                            <option value="2">VIP</option>
                                            <option value="1">会员</option>
                                            <option value="0">用户</option>
                                        </select>
                                        <input type="text" name="name" style="font-size: 14px;" value="{$name}" placeholder="请输入联系电话/微信号" />
                                        <input type="submit" value="搜索">
                                    </div>

                                </form>
                                <div class="widget-function am-fr" style="margin-right: 3%;">
                                    <a href="{:url('User/save',['type'=>1])}" class="">添加</a>
                                    <a href="javascript:;" class="click_back">刷新</a>
                                </div>
                            </div>
                            <div class="widget-body  widget-body-lg am-fr">
                                <table width="100%" class="am-table am-table-compact tpl-table-black " id="">
                                    <thead>
                                        <tr>
                                            <th>微信名</th>
                                            <th>微信号</th>
                                            <th>微信电话</th>
                                            <th>联系人</th>
                                            <th>联系电话</th>
                                            <th>用户状态</th>

                                            <th>账户余额</th>
                                            <th>累计提现</th>
                                            <th>VIP到期时间</th>
                                            <th>注册时间</th>
                                            <th>成为VIP</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="$data" id="vo"}
                                        <tr class="gradeX">
                                            <td>{$vo.name}</td>
                                            <td>{$vo.wechat}</td>
                                            <td>{$vo.phone}</td>
                                            <td>{$vo.link_people}</td>
                                            <td>{$vo.link_phone}</td>
                                            <td>{$vo.vip==2?'VIP':($vo.vip==1?'会员':'未完善')}</td>

                                            <td>￥{$vo.money}</td>
                                            <td>{$vo.total_money}</td>
                                            {if condition="$vo['vip_end_time']"}
                                            <td><?php echo date('Y-m-d',$vo['vip_end_time'])?></td>
                                            {else /}
                                            <td></td>
                                            {/if}


                                            <td><?php echo date('Y-m-d',$vo['add_time'])?></td>
                                            <td style="padding-top: 10px;">
                                                {if condition="$vo['vip'] neq 2"}
                                                <span class="vip"  onclick="returnVip({$vo['id']})">成为VIP</span>
                                                {else /}
                                                <span class="vip o_vip">已是VIP</span>
                                                {/if}
                                            </td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="{:url('User/withdraw',['id'=>$vo.id])}">
                                                        <i class="am-icon-pencil"></i> 提现
                                                    </a>
                                                    <!--<a href="javascript:;"  class="tpl-table-black-operation-del" onclick="del_article({$vo['id']})">-->
                                                        <!--<i class="am-icon-trash"></i> 删除-->
                                                    <!--</a>-->
                                                </div>
                                            </td>
                                        </tr>
                                    {/volist}
                                        <!-- more data -->
                                    </tbody>
                                </table>

                                <div id="page">
                                    <div class="page_right">
                                        <span>共 {$list->total()} 条数据　页次：{$list->currentPage()}/{$list->lastPage()}</span>
                                        {$page}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
    var tijiao=0;
    function returnVip(id){
        layer.confirm('请确认该用户已充值！！！', function () {
            if(tijiao){layer.msg('请勿重复提交',{time:800});return false;}
            tijiao=1;
            $.post("{:url('User/returnVip')}",{id:id},function(data){
                if(data.code){
                    tijiao=1;
                    layer.msg('更新成功',{time:800},function(){
                        location=location;
                    })
                }else{
                    tijiao=0;
                    layer.msg('网络错误',{time:800})
                }
            });
        })
    }

    function del_article(id){
        layer.confirm('确认要删除吗？', function () {
            $.post("{:url('del_article')}",{id:id},function(data){
                if(data.code){
                    layer.msg('删除成功',{time:800},function(){
                        location=location;
                    })
                }else{
                    layer.msg('网络错误',{time:800})
                }
            });
        })
    }
</script>
{/block}