{extend name="Father:index"/}
{block name="tpl-content-wrapper"}
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#editor');
    });
</script>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl" onclick="history.back(-1)">返回上一级</div>
                                <div class="widget-function am-fr" style="margin-right: 3%;">
                                    <a href="javascript:;" class="click_back">刷新</a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                <form class="am-form tpl-form-border-form tpl-form-border-br" id="form1">
                                    <div class="am-form-group">
                                        <label for="name" class="am-u-sm-3 am-form-label">微信名 <span class="tpl-form-line-small-title">name</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="name" readonly  id="name" style="width: 50%;" class="tpl-form-input" value="{$list.name}">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="wechat" class="am-u-sm-3 am-form-label">微信号 <span class="tpl-form-line-small-title">wechat</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="wechat" readonly  id="wechat" style="width: 50%;" class="tpl-form-input" value="{$list.wechat}">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="money" class="am-u-sm-3 am-form-label">提现金额 <span class="tpl-form-line-small-title">withdraw</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="number" name="money" id="money" style="width: 50%;" class="tpl-form-input" value="" placeholder="最大可提取￥{$list.money}元">
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success submit_up">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
    //提交
    var tijiao=0;
    $('.submit_up').click(function(){
        if(!$('[name=money]').val()){layer.msg('请输入提现金额',{time:800});$('[name=money]').focus();return false}
        if(($('[name=money]').val()*1) >('{$list.money}'*1) || ($('[name=money]').val()*1) <= 0){
            layer.msg('请输入正确提现金额',{time:800});$('[name=money]').focus();return false;
        }
        layer.confirm('请确定已给该用户发过微信红包！！！', function () {
            if(tijiao){layer.msg('请勿重复提交',{time:800});return false;}
            tijiao=1;
            var a = {
                'id':"{$list.id}",
                'wechat':"{$list.wechat}",
                'name':"{$list.name}",
                'money':$('[name=money]').val()
            };

            $.post("{:url('User/withdraw',['id'=>$list.id])}",{data:a},function(data){
                console.log(data);
                if(data.code){
                    tijiao=1;
                    layer.msg("提现成功",{time:800},function(){
                        self.location=document.referrer;
                    })
                }else{
                    tijiao=0;
                    layer.msg(data.msg);
                }
            });
        })

    });
</script>
{/block}