{extend name="Father:index"/}
{block name="tpl-content-wrapper"}
<!-- 分页样式 -->
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <!--<div class="am-u-sm-12 am-u-md-12 am-u-lg-6">-->
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <form action="">
                                <div class="widget-title am-fl tpl-table-black-operation">
                                    <!--<a href="javascript:;" style="padding:6px 8px; border-radius: 4%;font-size: 18px;margin-right: 6px;"  onclick="t_type(1)">未审核</a>-->
                                </div>
                                    <input type="hidden" name="type" value=""/>
                                    <input type="submit" id="tijiao" style="display: none;"/>
                                </form>
                                <div class="widget-function am-fr" style="margin-right: 3%;">
                                    <a href="{:url('Oftenweb/add')}" class="">添加</a>
                                    <!--<a href="javascript:;" class="delete">删除</a>-->
                                    <a href="javascript:;" class="click_back" style="padding: 0 20px">刷新</a>
                                </div>
                            </div>
                            <div class="widget-body  widget-body-lg am-fr">
                                <table width="100%" class="am-table am-table-compact tpl-table-black " id="">
                                    <thead>
                                        <tr>
                                            <th width="20%">网站名</th>
                                            <th>图像</th>
                                            <th>链接地址</th>
                                            <th width="30%">简介</th>
                                            <th>是否推荐</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="$web" id="vo"}
                                        <tr class="gradeX" >
                                            <td>{$vo.name}</td>
                                            <td><img src="{$vo.img}" alt="" style="width: 50px;height: 50px;"/></td>
                                            <td>{$vo.web_address}</td>
                                            <td style="display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;">{$vo.intro}</td>
                                            <td>{$vo.is_recommend==1?'是':'否'}</td>
                                            <td><?php echo date('Y-m-d',$vo['add_time'])?></td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="{:url('Oftenweb/edit',['id'=>$vo.id])}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" class="tpl-table-black-operation-del" onclick="del_web({$vo.id})">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                                <div id="page">{$article}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
<script>
    function t_type(id){
        $('[name=type]').val(id);
        document.getElementById('tijiao').click();
    }
    function del_web(id){
        layer.confirm('确认要删除吗？',function(){
            $.post("{:url('Oftenweb/del_web')}",{id:id},function(data){
                if(data.code){
                    layer.msg(data.msg,{time:1000},function(){
                        location.replace(location.href);
                    })
                }else{
                    layer.msg(data.msg,{time:1000});
                }
            })
        })

    }
</script>
{/block}