<!doctype html>
<html>
<head>
    <meta name="baidu-site-verification" content="ExbslVikjN" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{$selfWebInfo.name}</title>
    <meta name="keywords" content="IT学习之家，PHP学习，web学习，vue学习，时事政治，散文，捧腹笑话" />
    <meta name="description" content="IT学习之家，PHP学习，web学习，vue学习，时事政治，散文，捧腹笑话" />
    <link rel="shortcut icon" href="/static/index/images/logo2.jpg">
    <script src="/static/admin/assets/js/jquery.min.js"></script>
    <script src="/static/admin/layer/layer.js"></script>
    <link href="/static/index/css/base.css" rel="stylesheet">
    <link href="/static/index/css/index.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/static/index/js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div id="logo"><a href="/"><img style="height: 60px;width: 260px;" src="/static/index/images/logo.jpg" alt=""/></a></div>
    <nav class="topnav" id="topnav">
        {if condition="$gl"}
            <a href="{:url('Index/index')}" id="{$gl==1?'topnav_current':''}"><span>首页</span><span class="en">Protal</span></a>
            <a href="{:url('Article/phpOption')}" id="{$gl==2?'topnav_current':''}"><span>后端文章</span><span class="en">after end</span></a>
            <a href="{:url('Article/htmlOption')}" id="{$gl==3?'topnav_current':''}"><span>前端文章</span><span class="en">leading end</span></a>
            <!--<a href="moodlist.html" id="{$gl==4?'topnav_current':''}"><span>碎言碎语</span><span class="en">Doing</span></a>-->
            <!--<a href="share.html" id="{$gl==5?'topnav_current':''}"><span>分享</span><span class="en">Share</span></a>-->
            <a href="{:url('Oftenweb/web')}" id="{$gl==5?'topnav_current':''}"><span>常用网站</span><span class="en">Share</span></a>
            <a href="{:url('Article/gossip')}" id="{$gl==6?'topnav_current':''}"><span>文章随笔</span><span class="en">Learn</span></a>
        {else /}
            <a href="{:url('Index/index')}" style="color: #000;"><span>首页</span><span class="en">Protal</span></a>
            <a href="{:url('Article/phpOption')}" ><span>后端文章</span><span class="en">after end</span></a>
            <a href="{:url('Article/htmlOption')}"><span>前端文章</span><span class="en">leading end</span></a>
            <!--<a href="moodlist.html" id="{$gl==4?'topnav_current':''}"><span>碎言碎语</span><span class="en">Doing</span></a>-->
            <!--<a href="share.html" id="{$gl==5?'topnav_current':''}"><span>分享</span><span class="en">Share</span></a>-->
            <a href="{:url('Oftenweb/web')}" ><span>常用网站</span><span class="en">Share</span></a>
            <a href="{:url('Article/gossip')}"><span>文章随笔</span><span class="en">Learn</span></a>
        {/if}
        
        <!--<a href="book.html" id="{$gl==7?'topnav_current':''}"><span>留言版</span><span class="en">Gustbook</span></a>-->
    </nav>
    </nav>
</header>
    {block name="article"}{/block}
<footer>
    <p><a href="http://www.zhyong.top/" target="_blank" title="一个很有趣的油腻大叔">{$selfWebInfo.intro}</a> -  <a href="https://new.cnzz.com/v1/login.php?siteid=5329134">网站统计<img style="width: 40px;height: 10px;display: inline;" src="__PUBLIC__/static/index/images/2.gif"></a></p>
</footer>
<script src="/static/index/js/silder.js"></script>
</body>
</html>
